{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}

{% block costume_js %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<script>
  function onTurnstileSuccess(token) {
    const el = document.querySelector('input[name="turnstile_token"]');
    if (el) el.value = token;
  }
</script>
{% endblock %}
<div>
    <div
        class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
        <div>
            <h2 class="text-3xl font-bold tracking-tight text-teal-300 sm:text-4xl">
                BalanceWatch
            </h2>
            <p class="mt-2 text-lg text-gray-400">
                Smart financial tracking for serious documentation.
            </p>
            <p class="mt-4 text-gray-300">Greetings! <br>
                Track your bank transactions, monitor your balance, and generate clear monthly reports — all in one
                place.
                Perfect for financial tracking and personal cash flow management.
            </p>

            <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-blue-400">Analyse</dt>
                    <dd class="mt-2 text-sm text-cyan-600">Helpful charts plotted by Balance Watch will help you analyse
                        your wallet precisely!</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-blue-400">Transactions</dt>
                    <dd class="mt-2 text-sm text-cyan-600">Keeping track of all your transactions. you would know the
                        exact amount of your all your transactions,
                        you are less likely to lose your data in a data base compared to a note book or an offline note
                        app.
                    </dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-blue-400">Daily Goal</dt>
                    <dd class="mt-2 text-sm text-cyan-600">Set a daily goal to maximise your bank account transactions
                        during a period.</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-blue-400">Multi Currency</dt>
                    <dd class="mt-2 text-sm text-cyan-600">Not only you can handle your transactions in tomans, but you
                        would also be able to
                        keep track of your foreign currency as well.</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-blue-400">Accessibility</dt>
                    <dd class="mt-2 text-sm text-cyan-600">Balance Watch is not just cleaner than a regular note book
                        with some extra built-in calculations, it is also more
                        accessible compared to a regular notebook. Here you can Securely store and review all your
                        transactions with automatic calculations.
                    </dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-blue-400">Open Source & Secure</dt>
                    <dd class="mt-2 text-sm text-cyan-600">the code behind this application is publicly available so you
                        can analyse it yourself regarding security matters or privacy.</dd>
                </div>
            </dl>
        </div>
<div class="flex items-center justify-center">
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
                <img src="{% static 'logo/balancewatch-logo.jpg' %}" alt="WB logo." class="rounded-lg bg-gray-100" />
                <form class="card-body" method="post">
                     {% csrf_token %}
                    <fieldset class="fieldset">
                        <label class="label">{{ form.username.label }}</label>
                        {{ form.username }}
                        <label class="label">{{ form.password.label }}</label>
                        {{ form.password }}
                        {% if form.errors %}
                        <div class="alert alert-soft alert-error">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                                <div turnstile
                            class="cf-turnstile"
                            data-sitekey="0x4AAAAAACf1rbl08TcM6MSF"
                            data-callback="onTurnstileSuccess"
                            >
                                {{ form.turnstile_token }}
                            </div>
                        <button class="btn btn-neutral mt-4" type="submit">Login</button>
                        <!-- <a class="link link-hover" onclick="alert('not developed here yet, content me at telegram for reset password : @parham_webdev')">Forgot password?</a> -->
                        <a class="link link-hover" href="{% url 'account:password_reset' %}">Forgot password?</a>
                        <span>Don't have an account? <a class="link link-info" href="{% url 'account:register' %}">Register here</a></span>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>



    {% endblock %}