{% load static %}

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10" >
  <aside>
    <img src="{% static 'logo/balancewatch-logo.jpg' %}" width="100" class="fill-current" alt="">
    <p>
      Balance Watch 
      <br />
      organise your wallet more precisely
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Source Code</h6>
    <a class="link link-info" href="https://github.com/parham-mehrabi/BalanceWatch">visit source code</a>

  </nav>
  <nav>
    <h6 class="footer-title">Support</h6>
    <span>Email:<a class="link link-hover" href="mailto:mehrabipourparham@gmail.com"> mehrabipourparham@gmail.com</a></span>
    <span>Telegram: <img src="{% static 'logo/telegram.svg' %}"
                 alt="Telegram"
                 class="w-5 h-4 inline"><a class="link link-hover" href="https://t.me/parham_webdev">parham_webdev</a></span>
        


  </nav>
  <nav>
    <h6 class="footer-title">Credit</h6>
    <p>
        full stack developed, deployed and maintained by mehrabipourparham@gmail.com
    </p>
    <a href="https://github.com/parham-mehrabi" class="link link-info">
        github.com
    </a>
  </nav>
</footer>