@import "tailwindcss";

@source not "./tailwindcss.exe";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs"{
    themes: all
};
@source "../../templates/**/*.html";
@source "../../templates/*.html";
